* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
.note-content {
  width: 100%;
  margin: 1.25rem 0;
  padding: 0.5rem;
  resize: none;
}
.note-save,
.note-delete {
  border-style: none;
  background-color: blue;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  padding: 0.675rem 1rem;
}
.note-delete {
  background-color: red;
}
.note-wrapper {
  border: 1px solid #000;
  border-radius: 0.5rem;
  margin: 1rem auto;
  padding: 0.5rem;
  width: 100%;
}
