.timer {
  position: absolute;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  top: 20px;
  right: 30px;
}
.gameboard {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.card {
  width: 200px;
  height: 200px;
  background-color: gray;
  cursor: pointer;
  background-size: contain;
}
.revealed,
.matched {
  pointer-events: none;
}
@media all and (max-width: 1200px) {
  .timer {
    position: static;
  }
}
